.highlight-input[data-v-8a1b4a05] {
  height: 30px;
  width: 100%;
  outline: #c0c4cc 1px solid;
  border-radius: 2px;
  padding: 2px 11px 1px 11px;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.highlight-input[data-v-8a1b4a05]::-webkit-scrollbar {
  width: 0 !important;
}
.highlight-input[data-v-8a1b4a05]:focus-visible {
  outline-color: #409eff;
}
.highlight-input[data-v-8a1b4a05]:empty:before {
  content: attr(placeholder);
  color: #999;
}
.highlight-input[data-v-8a1b4a05]:focus:before {
  content: "";
}